body {
  font-family: "Outfit", sans-serif !important;
}

.sec-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgb(17, 17, 17))), url(assets/landing/new-main-bg.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgb(17, 17, 17)), url(assets/landing/new-main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.sec-1 nav img {
  width: 50px;
  height: 50px;
}

.sec-1 nav .bars {
  position: relative;
}

.sec-1 nav .bars .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  list-style: none;
  padding: 10px 10px;
  margin: 0;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
}

.sec-1 nav .bars .dropdown li {
  padding: 7px 0;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.sec-1 nav .bars .dropdown li:hover {
  background-color: #c4c4c4;
}

.sec-1 nav .bars .dropdown li .item {
  text-decoration: none;
  color: black;
}

.sec-1 nav .bars:hover .dropdown,
.sec-1 nav .bars:focus-within .dropdown {
  display: block;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: slidedown 0.3s ease-in-out forwards;
  animation: slidedown 0.3s ease-in-out forwards;
  z-index: 10;
}

.sec-1 .header-main {
  padding-top: 150px;
}

.sec-1 .header-main h4 {
  color: rgb(148, 168, 120);
}

.sec-1 .header-main h1 {
  color: rgb(77, 100, 44);
}

.sec-1 .header-main button {
  background-color: rgb(148, 168, 120);
}

.sec-2 .three-wel {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sec-2 .three-wel div {
  max-width: 300px;
}

.sec-2 .three-wel div img {
  height: 50px;
  width: 50px;
}

.sec-3 .bout {
  max-width: 350px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sec-3 .bout .lean {
  background-color: rgb(148, 168, 120);
}

.arri4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.arri4 .arriv {
  max-width: 350px;
  -webkit-box-shadow: 9px 26px 36px 7px rgba(0, 0, 0, 0.11);
  box-shadow: 9px 26px 36px 7px rgba(0, 0, 0, 0.11);
}

.sec-5 h2 {
  max-width: 450px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(148, 168, 120);
  color: white;
}

footer {
  background-color: rgb(148, 168, 120);
}

@media (min-width: 767px) {
  .sec-1 .options {
    width: 600px;
  }

  .sec-1 .options a {
    color: black;
  }

  .sec-3 img {
    width: 640px !important;
  }

  .arri4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 920px;
    gap: 40px;
  }

  .sec-5 img {
    max-width: 500px;
  }

  .sec-6 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .sec-6 .nofunc {
    width: 350px;
  }

  .sec-6 .nofunc hr {
    width: 100% !important;
  }
}

@media (min-width: 1023px) {
  .sec-3 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .sec-5 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .sec-5 h2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .arri4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1015px;
  }
}

/*# sourceMappingURL=index.css.map */
