* {
    padding: 0;
    margin: 0;
}

//section 1
.sec-1 {
    background-image: url(/assets/landing/cup-of-tea-cookie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;

    nav {
        img {
            width: 50px;
            height: 50px;
        }
    }

    .header-main {
        padding-top: 150px;

        button {
            background-color: rgb(148, 168, 120);
        }
    }
}

//section 2

.sec-2 {
    .three-wel {
        width: fit-content;

        div {
            max-width: 300px;

            img {
                height: 50px;
                width: 50px;
            }
        }
    }
}


//section 3
.sec-3 {
    div {
        max-width: 350px;
        width: fit-content;

        button {
            background-color: rgb(148, 168, 120);
        }
    }
}

//section4
.arri4 {
    width: fit-content;

    .arriv {
        max-width: 350px;
        box-shadow: 9px 26px 36px 7px rgba(0, 0, 0, 0.11);
    }
}

//section5
.sec-5 {
    h2 {
        max-width: 450px;
        width: fit-content;
        background-color: rgb(148, 168, 120);
        color: white;
    }
}

footer {
    background-color: rgb(148, 168, 120);
}